DirectoryIndex index.php
Redirect 301 /console/updat_info /console/
Redirect 301 /console/console.php /console/
Redirect 301 /console/index.html /console/
ErrorDocument 404 /console/

RewriteEngine On
RewriteBase /console/
RewriteCond %{REQUEST_METHOD} =GET
RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
RewriteRule ^(.*)$ %1/ [R=301,L]
